@charset "utf-8";

.findbox {
	width: 780px;
	height: 550px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 148px;
}

.findbox h1 {
	width: 100%;
	height: 74px;
	line-height: 100px;
	text-align: center;
}

.findbox form {
	width: 100%;
	background: rgb(248, 249, 250);
	padding: 147px;
	padding-top: 10px;
	padding-bottom: 65px;
	box-sizing: border-box;
}

.findbox input {
	width: 100%;
	background-color: #fff;
	padding: 0 20px;
	box-sizing: border-box;
	border: 1px solid #bb2649;
	display: block;
	height: 50px;
	margin-bottom: 25px;
}

.findbox button {
	width: 220px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	background-color: #ff9b9b;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}