@charset "UTF-8";

/********furnitureRantView**********/

.furnitureContainer{
        display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
        'Ffil Fprd Fprd Fprd Fprd'
        'Ffil . PG PG .';
}

.center-outer { /*타이틀*/
    display: table;
    width: 100%;
    height: 100%;
    }
    
    .center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 50px;
    }

    .bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
    }
    
    .bubbles h1 {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: #bb2649;
    z-index: 2;
    font-size: 40px;
    }

    @font-face {
        font-family: "Luckiest Guy";
        src: url("./fonts/LuckiestGuy-Regular.woff") format("woff");
      }
    
    .individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #ff9b9b;
    z-index: 1;
    }



#furnitureFilterView{ 
    grid-area: Ffil;
    height: 130vh;
}

.furnitrueSubMenu {
 	text-align: center;
    padding: 20px 10px 0px 10px;
    width: 300px;
    position: fixed;
}

.side-menu a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
  }
  
  .side-menu a:hover {
    background: #bb2649;
    color: white;
    opacity:0.7;
  }
  
  .side-menu a.home {
    background : #333;
    color: #fff;
  }

/********* 추천 업체 **********/
.FRLine{
    grid-area: FRprd;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 370px;
    grid-template-areas: 
    'RT RT . . .'
    'RV RV RV RV RV'
    'RV RV RV RV RV'
    'RV RV RV RV RV';
    position: relative;
}

#furnitureRecommendTitle{
    grid-area: RT;
    position: absolute;
    left: 20px;
    bottom: 15px;
}

#furnitureRecommendView{
    grid-area: RV;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 0;
}

/********* 일반 업체 목록 **********/
.FPLine{
    grid-area: Fprd;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px 400px 400px 400px 80px;
    grid-template-areas: 
    'PT PT . . .'
    'PV PV PV PV PV'
    'PV PV PV PV PV'
    'PV PV PV PV PV'
    '. . . . .';
    position: relative;
}

#furniturePrdTitle{
    grid-area: PT;
    position: absolute;
    left: 20px;
    bottom: 0px;
}

#FListBox{
	border-radius: 15px;
	margin: 5px 5px 5px 5px;
	box-shadow: 0px 0px 3px #000;
	height: 395px;
	cursor: pointer;
	
}

#furniturePrdView{
    grid-area: PV;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    position: relative;
 	overflow: hidden;
    padding: 0;
    height: 1215px;
}

#FTitleWidth{
	width: 240px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin: auto;
}

.pagePrd{
    display: flex;
    grid-area: PG;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
}

.page{
	with:65%;
	margin-left:25%;
	margin-right:10%;
	text-align:center;
	}
	
.pageBtn{
		margin: 0px 10px;
		padding:5px 10px;
		border-radius:5px;
	    font-weight:bold;
	    color:#bb2649;
	    background-color:white;
	    border-color: #bb2649;
	    transition:0.5s;
}

.pageBtn:hover{
	background-color:#bb2649;
	color:white;
	cursor: pointer;
}






