@charset "UTF-8";

/* roomInfo.css */

/* 이미지 */

.section_slideContainer{
	width:100%;
	height: 440px;
}

.slideWrap {
    display: flex;
    justify-content: center;
}

.slideImgWrapper {
    width: 440px;
    height: 440px;
}

.slideImg {
    width:100%;
    height:100%;
}

/* 방정보 */
.section_contentsContainer {
    width:100%;
}

.section_contentsWrapper {
    width:1200px;
    margin:auto;
    display: flex;
}

.InfoBoxCountainer{
    margin-top: 60px;
}

.InfoBox{
    padding: 16px 0;
    display: flex;
    flex-direction: row;
}

/* 옵션 정보 */
.OptionBox{
	gap: 30px;
	margin-left: 10px;
}

.optionWrapper{
	display: flex;
    flex-direction: column;
    align-items: center;
}

#basicOptionBox .optionWrapper{
	display: flex;
    opacity: 20%;
    flex-direction: column;
    align-items: center;
}

#basicOptionBox .optionWrapper.active{
	opacity: 100%;
}

.optionWrapper .optionImg{
    margin-bottom: 13px;
	width:70px;
	height:70px;
}

.optionWrapper .optionTitle{
	font-size: 12px;
}

.InfoBox+.InfoBox{
    border-top: 1px solid rgb(245, 245, 245);
}

.InfoBox .InfoTitle{
    width: 160px;
    font-weight: bold;
}

.InfoBox .InfoContents{
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.InfoBox .InfoContents #depositInfoBox{
    border-top: 1px solid rgb(245, 245, 245);
    margin-top: 16px;
    padding-top: 16px;
}

.InfoBox .InfoContents #depositInfoBox p{
    margin: 0 0 10px 0;
    color:rgb(133, 133, 133);
}

.InfoBox .InfoContents .InfoTitle.Sub+.Sub {
    margin-left: 30px;
}

/* 방정보1 */

.roomInfo1Container {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.roomInfo1Wrapper {
    width:780px;
}

.roomInfo_bold{
    font-weight: bold;
}

/* 방정보2 */

.roomInfo2Wrapper {
    width:340px;
}