/******** top.css ********/

.navContainer {
    text-align: center;
    height: 80px;
    min-width: 1200px;
    background: #ff4b75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mainNavItem.navLogo a img{
	width:70px;
}

.mainNavItem.buttonWrapper, .mainNavItem.navSubMenu,.mainNavItem.navSign{
	display: flex;
	font-weight: bold;
}

.mainNavItem.navSubMenu{
	margin-right: 75px;
}

.mainNavItem.navSubMenu li{
	list-style: none;
}

.subMenu a:hover{
	color:#e5e5e5;
}

.mainNavItem.navSubMenu li+li{
	margin-left: 40px;
}

.mainNavItem.navSign div+div{
	margin-left: 20px;
}
