@charset "UTF-8";

/* 404.css */

    * {
      box-sizing: border-box;
      font-weight: lighter;
    }
    body {
      font-family: 'Rix';
      background-color: #ff9b9b;
      color: #3c3c3c;
      height: 100vh;
      margin: 0;
      display: grid;
      place-items: center;
      padding: 2rem;
    }
    main {
      max-width: 350px;
    }
    a {
    color: #bb2649;
    text-decoration: none;
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
      }
      
  #errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
      }

 @font-face {
    font-family: "Rix";
    src: url("/fonts/RixYeoljeongdo_Pro\ Regular.otf") format("woff");
  }
  
  #iconBox{
      position: relative;
      margin-right: 100px;
  }
  
  #ZooIcon{
  	position: absolute;
    bottom: -7px;
  }
  